<div>
  <% row = 0 %>
  <% cols = 0 %>
  <% @coords.each do |coord| %>
    <div class="grid<%= " grey" if (row.odd? && cols.odd?) || (row.even? && cols.even?) %>" id="<%= "#{coord.row} #{coord.column}" %>">
      <% if coord.game_piece %>
        <%= coord.game_piece.name %>
      <% else %>
        <%= "#{coord.row} #{coord.column}" %>
      <% end %>
    </div>
      
    <% row += 1 %>
    <% if row == 8 %>
      <br>
      <% row = 0; cols += 1 %>
    <% end %>

  <% end %>

</div>

