html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.grid {
  width: 6em;
  height: 6em;
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: inline-block;
  padding: 2em;
}

.grey {
  background-color: #ccc;
}

.highlight {
  background-color: #AADEFD;
}

.capture {
  background-color: #FF7F66;
}